header{
  background-color: #002266;
  color: #e6eeff;
  text-align: center;
}

main{
  background-color: lightgrey;
  padding: 1em;
}

body{
  background-image: url("record.png");
  background-position: center;
  background-repeat: repeat;
  margin: 0;
}

#large-font{
  font-size: 30px;
}

.card{
  max-width: 50%;
  display: block;
  margin: 10px auto;
  border: 2px #002266 solid;
}
