header{
  background-color: #002266;
  color: #e6eeff;
  text-align: center;
  line-height: 2;
}

main{
  background-color: lightgrey;
  padding: 1em;

}

body{
  background-image: url("record.png");
  background-position: center;
  background-repeat: repeat;
  margin: 0;
}

h2{
  text-align: center;
  font-size: 35px;
  color: #002266;
}

.card{
  max-width: 50%;
  display: block;
  margin: 10px auto;
  border: 2px #404040 solid;
}
